<div class="mt-5 text-center">
    <h2>All Recpies</h2>
</div>

<div class="container">
    <div class="row">
        <div class="my-5" *ngIf="(recipes != null) else loading">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Dish</th>
                        <th scope="col">description</th>
                        <th scope="col">Prep Time (min)</th>
                        <th scope="col">Cook Time (min)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let recipe of recipes; index as i" [routerLink]="['detail', recipe.uuid]">
                        <td><img class="shadow-sm p-2 bg-white rounded" src="../../assets{{recipe.images.small}}"
                                alt="img"></td>
                        <td>{{ recipe.title }}</td>
                        <td>{{ recipe.description }}</td>
                        <td>{{ recipe.prepTime }}</td>
                        <td>{{ recipe.cookTime }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="mt-5 text-center">
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-pulse"
            [fullScreen]="false"></ngx-spinner>
    </div>
</ng-template>

<ng-template #error>
    <div class="mt-5 text-center">Error, no data found</div>
</ng-template>